* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #ec1111;
    color: #333;
    line-height: 1.6;
}

h1 {
    color: #2c3e50;
    text-align: center;
    margin-top: 20px;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}
